.App {
  text-align: center;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 0s cubic-bezier(0.075, 0.82, 0.165, 1);
  }
}

.App-header {
  background-color: red;
  background-image:
    radial-gradient(
      circle closest-side,
      yellow,
      #f06d06
    );
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



.board {
  max-height: 90vh;
  max-width: 90wh;
  border: solid 2px blue;
}

.row{
  display: flex;
  flex-direction:row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  background-color: transparent;
}


.cell {
  height: 40px;
  width: 40px;
  background-color: gradient;
  /* min-height: 1vmin;
  min-width: 1vmin;
  max-height: 3vmin;
  max-width: 3vmin;*/
  margin: 2px;
  border: solid 2px blueviolet;
  background-color: darkorange;
}

  .cell .cell-saved{
    background-color: darkorange;
  }

  .cell .cell-suspicious {
    background-color: purple;
  }

  .cell .cell-flagged {
    background-color: purple;
  }

  .cell .cell-revealed {
    background-color: yellow;
    color: blueviolet;
  }

  .cell .cell-revealed .cell-font {
    font-weight: 200;
    font-size: 1rem;
    color: blueviolet;
  }

  .cell .cell-burned {
    color: darkorange;
  }
